<p-blockUI [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<ng-container #card *ngIf="ready && filteredData.length > 0">
    <app-pie-chart *ngIf="curConfig && pieConfigs.includes(cur)" [config]="curConfig" (sortFunction)="changeSortType($event)" (separateFunction)="changeSeparateType($event)"></app-pie-chart>
    <app-treemap *ngIf="curConfig && treemapConfigs.includes(cur)" [config]="curConfig"></app-treemap>
    <app-colombia-map *ngIf="curConfig && geoConfigs.includes(cur)" [config]="curConfig"></app-colombia-map>
</ng-container>
<p-message *ngIf="ready && filteredData.length === 0" severity="info" text="No se encontró información con los filtros seleccionados"></p-message>