
<ng-container *ngIf="ready">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Visualización" [selected]="true">
            <div class="p-d-flex p-jc-between">
                <app-button-filter [items]="data.moments" [selected]="data.selectedMoment" (selectedItem)="data.changeMoment($event)"></app-button-filter>
                <p-dropdown [options]="[{ label: 2019, value: 0 }]"></p-dropdown>
            </div>
            <br>
            <app-dropdown-filter [items]="data.filteredVisualizations | async" [selected]="data.selectedVisualization" (selectedItem)="data.loadVisualization($event)"></app-dropdown-filter>
        </p-accordionTab>
        <p-accordionTab [header]="'Facultad (' + data.selectedFaculties.length + ')'" class="no-padding">
            <app-search-list-filter [items]="data.faculties" (selectedItems)="data.selectedFaculties=$event"></app-search-list-filter>
        </p-accordionTab>
        <p-accordionTab [header]="'Programa Academico (' + data.selectedPrograms.length + ')'" class="no-padding">
            <app-search-list-filter [items]="data.filteredPrograms | async" (selectedItems)="data.selectedPrograms=$event"></app-search-list-filter>
        </p-accordionTab>
        <p-accordionTab [header]="'Género (' + data.selectedGenders.length + ')'">
            <app-radio-filter [items]="data.genders" (selectedItems)="data.selectedGenders=$event"></app-radio-filter>
        </p-accordionTab>
    </p-accordion>
</ng-container>
